<nav>
  <ul>
    <li><a href="/projects">Home</a></li>
    <li><a href="/projects/pinned">Pinned</a></li>
    <li><a href="/">Projects</a></li>
    <li><a href="/projects/profile">Profile</a></li>
    <li><a href="/projects/new">Add Project</a></li>
  </ul>
</nav>
<br/>
  </body>
</html>
