<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

<script>
  $(document).ready(function () {
    $('.button')
      .accordion({
        selector: {
          trigger: '.title'
        }
      });

    $('select').click(function () {
      console.log("clicked");
      $(this).css('color', 'color: rgba(0,0,0,.87) !important');
    });

    // gets the delete form button
    var form = document.getElementById("del-form");
    // listend for the delete form button
    $(".right.floated.del-btn").click(function(){
      form.submit();
    });

    //
    // var form = document.getElementById("addProject");
    // // submit the pin project form
    // $(".right.floated.thumbtack.icon").click(function(){
    //   $(this).css("color", "rgb(65, 131, 196)");
    //   form.submit();
    // });

  });
</script>
</body>

</html>
