<nav>
  <ul>
    <li><a href="/projects">Home</a></li>
    <li><a href="/pinned">Pinned</a></li>
    <li><a href="/">Projects</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>
<br/>
  </body>
</html>
