
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

    <script>
      $(document).ready(function() {
        $('.button')
        .accordion({
          selector: {
            trigger: '.title .icon'
          }
        });

        // $('#select).dropdown();

        $('select').click(function(){
          console.log("clicked");
          $(this).css('color', 'color: rgba(0,0,0,.87) !important');
        });


      });
    </script>
  </body>
</html>
