<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Apricot</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>
  <body>

<div class="ui primary menu">
  <div class="right menu">
    <div class="ui secondary menu">
      <% if(!currentUser){ %>
        <a class="ui item" href="/register">Signup</a>
        <a class="ui item" href="/login">Login</a>
      <% } else { %>
        <a class="ui item" href="/projects/profile"><%= currentUser.username %></a>
        <a class="ui item" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</div>
