<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Collabo</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
</head>

<body>

  <div class="ui primary menu">
    <div class="ui container">


      <div class="left menu">
        <div class="ui secondary menu">
          <% if(!currentUser){ %>
          <a class="item" href="/">Community</a>
          <% } else { %>
          <a class="item" href="/projects">Community</a>
          <% } %>
        </div>
      </div>

      <div class="right menu">
        <div class="ui secondary menu">
          <% if(!currentUser){ %>
          <a class="ui item" href="/register">Signup</a>
          <a class="ui item" href="/login">Login</a>
          <% } else { %>
          <a class="ui item" href="/projects/pinned">
            <i class="thumbtack icon" style="font-size:1.2em;" id="edit"></i>Pinned
          </a>
          <a class="ui item" href="/projects/new">
            <i class="bullhorn icon" style="font-size:1.2em;" id="edit"></i>Pitch
          </a>
          <a class="ui item">
            <i class="bell outline icon" style="font-size:1.2em;" id="edit"></i>
          </a>
          <a class="ui item" href="/profile/<%=currentUser._id%>">
            <img class="ui right spaced avatar image" src="<%=currentUser.profilePicture%>">
            <%= currentUser.firstName %></a>
          <a class="ui item" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
