<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Collabo</title>
  <link rel="stylesheet" type="text/css" href="/landing.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
</head>

  <body>

    <div id="landing-header">

      <div class="ui text">
        <h3 class="ui header hook">Pitch, Build <br/> and Collaborate</h3>
        <p style="font-size: 1.7em;">with like minded individuals in your community, today.</p>
        <a href="/register" class="ui primary large button">View Projects</a>
      </div>
    </div>

    <ul class="slideshow">
      <li></li>
    </ul>

  </body>

</html>
