<% include ./partials/header %>

<h1>Login page</h1>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <div class="ui divider"></div>
  <input type="password" name="password" placeholder="password">
  <div class="ui divider"></div>
  <button>Login</button>
</form>

<% include ./partials/footer %>
