<% include ./partials/header %>

<h1>Signup Page</h1>

<form onsubmit="return myfun()" action="/register" method="POST" name="frm">
  <div class="ui divider"></div>
  <input type="text" name="username" placeholder="username">
  <div class="ui divider"></div>
  <input type="password" id="password" value="" name="password" placeholder="new password">
    <span id="messages"> </span>
    <div class="ui divider"></div>
    <input type="password" id="passwords" value="" name="password" placeholder="confirm password">
    <div class="ui divider"></div>
  <button>Submit</button>
  <div class="ui divider"></div>
</form>

<% include ./partials/footer %>
