<% include ./partials/header %>

<div class="ui main text container segment log_reg_box">
  <div class="ui form">
    <h1 class="ui header">
      Sign Up
    </h1>
    <form action="/register" method="POST" class="ui form">
      <div class="field">
        <input type="text" name="username" placeholder="username">
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="password">
      </div>
      <button class="ui primary submit button">
        Create Account
      </button>
    </form>
  </div>
  <br/>
  <br/>
  <div class="extra">
      <p style="font-size: 10pt;">Already have an account? <a class="ui item" href="/login">Login</a></p>
  </div>
</div>

<!-- <form onsubmit="return myfun()" action="/register" method="POST" name="frm">
  <div class="ui divider"></div>
  <input type="text" name="username" placeholder="username">
  <div class="ui divider"></div>
  <input type="password" id="password" value="" name="password" placeholder="new password">
    <span id="messages"> </span>
    <div class="ui divider"></div>
    <input type="password" id="passwords" value="" name="password" placeholder="confirm password">
    <div class="ui divider"></div>
  <button>Submit</button>
  <div class="ui divider"></div>
</form> -->

<% include ./partials/footer %>
