div.ui.card.container {
  width: 600px;
}

div.ui.main.text.container.segment.log_reg_box {
  width: 450px;
  padding: 20px;
}

div.ui.main.text.container.segment.newProj {
  width: 600px;
  padding: 30px;
}

div.ui.primary.menu {
  margin-bottom: 40px;
  padding: 10px;
}

div.ui.card.container {
  margin-bottom: 25px;
}

div.ui.bottom.button:hover {
  background-color: #DCDCDC;
}

i.plus.circle.icon {
  padding: 5px;
  bottom: 3%;
  position: fixed;
  font-size: 30pt;
  left: 93%;
}

#welcome {
  font-size: 12pt;
}

button.ui.primary.submit.button {
  border-radius: 2em;
}

.ui.menu .item:before {
    background: #fff !important;
}

a.item {
  border-left: #fff !important;
}

#placeholder_option {
  color: red;
}

.ui.menu .item>.input input {
  border-radius: 2em;
}

/* SELECT */

select {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    min-width: 14em;
    min-height: 2.71428571em;
    background: #fff;
    display: inline-block;
    padding: .78571429em 2.1em .78571429em 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    color: rgba(0,0,0,.87) !important;
}

select:invalid {
  color: rgb(199, 199, 199) !important;
}
