div.ui.card.container {
  width: 600px;
}

div.ui.main.text.container.segment.log_reg_box {
  width: 450px;
  padding: 20px;
}

div.ui.primary.menu {
  margin-bottom: 40px;
  padding: 5px;
}

div.ui.card.container {
  margin-bottom: 25px;
}

div.ui.bottom.button:hover {
  background-color: #DCDCDC;
}

i.plus.circle.icon {
  padding: 5px;
  bottom: 3%;
  position: fixed;
  font-size: 30pt;
  left: 93%;
}

#welcome {
  font-size: 12pt;
}

button.ui.primary.submit.button {
  border-radius: 2em;
}

.ui.menu .item:before {
    background: #fff !important;
}

a.item {
  border-left: #fff !important;
}

.ui.input>input {
  border-radius: 2em !important;
}
