body {
  background-color: rgb(246,247,248)!important;
}

div.ui.card.container {
  width: 625px;
  border: none!important;
  margin-bottom: 25px;
  padding: 10px;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  border-top: none!important;
}

div.ui.main.text.container.segment.log_reg_box {
  width: 500px;
  padding: 20px;
  border: none!important;
}

div.ui.main.text.container.segment.newProj {
  width: 600px;
  padding: 30px;
  border: none!important;
}

div.ui.primary.menu {
  margin-bottom: 30px;
  padding: 10px;
}

i.icon.caret.down:hover {
  color: rgb(65, 131, 196) !important;
}

div.ui.bottom.button:hover {
  background-color: #fff !important;
}

div.ui.bottom.button:hover {
  background-color: whitesmoke!important;
}

div.ui.bottom.button {
  background-color: #fff !important;
  /* border: 0.5px solid rgba(42,42,38,.15) !important; */
  border-top: 1px solid rgba(0,0,0,.05)!important;
}

div.ui.bottom.button.sh {
  background-color: #fff !important;
  border-top: none!important;
}

i.plus.circle.icon {
  padding: 5px;
  bottom: 3%;
  position: fixed;
  font-size: 30pt;
  left: 93%;
}

#welcome {
  font-size: 12pt;
}

/* button.ui.primary.submit.button {
  border-radius: 2em;
} */

.ui.menu .item:before {
    background: #fff !important;
}

a.item {
  border-left: #fff !important;
}

.ui.menu .item>.input input {
  border-radius: 2em;
}

div.ui.label {
  background-color: #fff;
}

div.ui.label:hover {
  color: rgb(65, 131, 196);
}

/* CSS for the profile page */

div.ui.main.text.container.segment {
  border: none!important;
  width: 500px;
}

/* FOR BUTTONS */
#remove{
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2ss ease-in;
}
#remove:hover {
    color: #F22613!important;
}
#edit{
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}
#edit:hover {
  color: rgb(65, 131, 196)!important;
}
#pin{
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}
#pin:hover {
  color: rgb(65, 131, 196)!important;
}

.ui.container.foot {
  padding: 20px;
}

/* SELECT */

select {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    min-width: 14em;
    min-height: 2.71428571em;
    background: #fff;
    display: inline-block;
    padding: .78571429em 2.1em .78571429em 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    color: rgba(0,0,0,.87) !important;
}

select:invalid {
  color: rgb(199, 199, 199) !important;
}
