<% include ../partials/header %>

<div class="ui main text container segment">
  <div class="ui form">
    <h1 class="ui header">
      New Project
    </h1>
    <form class="ui form" action="/projects" method="POST">
      <div class="field">
        <input type="text" name="project[title]" value="" placeholder="Title">
      </div>
      <div class="field">
        <input type="text" name="project[subject]" value="" placeholder="Subject">
      </div>
      <div class="field">
        <input type="text" name="project[location]" value="" placeholder="Location">
      </div>
      <div class="field">
        <div class="field">
          <textarea class="projectDesc" name="project[description]"
            placeholder="Describe your project (500 characters remaining)"
            rows="5"></textarea>
        </div>
      </div>
      <button class="ui submit button">
        Create Project
      </button>
    </form>
  </div>
</div>

        <!-- <input type="text" name="project[location]" value="" placeholder="Location"> -->

<% include ../partials/footer %>
